[Desktop Entry]
Version=1.0
Type=Application
Name=Fix Permissions
Comment=Fix permissions for workshop files
Exec=xfce4-terminal --hold -x bash -c "./scripts/fix-permissions.sh"
Icon=dialog-password
Path=/home/minok/my-workshop
Terminal=false
StartupNotify=false
