[Desktop Entry]
Version=1.0
Type=Application
Name=Update Modules (обновление мастерской)
Comment=Update all workshop modules from GitHub
Exec=xfce4-terminal --hold -x bash -c "./scripts/update.sh"
Icon=view-refresh
Path=/home/minok/my-workshop
Terminal=false
StartupNotify=false
