[Desktop Entry]
Version=1.0
Type=Application
Name=Upload Modules
Comment=Upload updated modules to GitHub
Exec=xfce4-terminal --hold -x bash -c "./scripts/upload.sh"
Icon=folder-remote
Path=/home/minok/my-workshop
Terminal=false
StartupNotify=false
